/* Styles go here */
body {
  font-family: 'Economica';
  font-weight: bold;
  
  margin: 0;
}

nav {
  text-transform: uppercase;
  text-align: center;
  
  width: 100%;
  min-width: 900px;
  
  background: cornflowerblue;
}

nav ul {
  list-style-type: none;
  display: inline-block;
  
  width: 900px;
  margin: 0;
}

nav ul li {
  float: left;
}

.main {
  position: relative;
}

.abs {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  font-size: .8em;
  text-transform: capitalize;
  
  position: absolute;
  visibility: hidden;
  
  left: 0;
  right: 0;
  top: 100%;
  
  background: lavender;
}

a {
  text-decoration: none;
  color: white;
  display: block;
  padding: .5em 1em;
}

.abs a {
  color: gray;
}

nav ul li {
  display: inline-block;
  color: white;
}

[class='inner'] {
  padding: .5em 1em;
}

.main li:hover, a:hover {
  color: gray;
  background: lavender;
}

.main li:hover .abs {
  visibility: visible;
}

.abs a:hover {
  color: lightsteelblue;
}
