body {
   background-color: #92a8d1;
   
}
.additionalBackground {
  position: fixed;
  top: 70px; left: -45px;
  opacity: .7;
  z-index: -1;
}

div#header, div#navBar, div#footer {
  width: 100%;
  z-index: 2;
}

div#header h2 a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: lightyellow;
  margin-top: -.5em;
  vertical-align: top;
}
div#header {
  min-height: 50px;
  max-height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  color: yellow;
  margin-left: .02em;
  background-image: linear-gradient(maroon, brown);
  
  background-position: center;
  background-repeat: no-repeat;
}
div#navBar {
  /*clear: both;*/
  position: fixed;
  top: 48px;
  left: .05em;
  right: 0;
  margin: 0;
  background-color: #92a8d1;
  min-width: 200px;
}
div#navBar ul {
  padding: 0;
  list-style-type: none;
  margin: 0 0 0 20em;
  display: inline-block;
  min-width: 100px;
  overflow: hidden;
}

div#navBar ul li{
  color: maroon;
  display: inline;
  font-size: .8em;
}

div#navBar li a {
  color: maroon;
  text-decoration: none;
  padding: .1em .2em;
  display: inline-block;
}

div#navBar a:hover {
  color: white;
  text-decoration: none;
  padding: .1em .2em;
  display: inline-block;
  background-color: brown;
}
form#formForLog {
  min-width: 50px;
  max-width: 203px;
  width: 203px;
  position: fixed;
  margin: -4px;
  right: -177px;
  top: 80px;
  float: right;
  
  font-size: .8em;
  font-family: serif;
  border: none;
  
}
form#formForLog:hover {
  right: 0;
}
fieldset {
  border-right: none;
  border-top: none;
  border-bottom: none;
  
  background-color: brown;
  border-left: 20px solid #fa6;
  border-radius: 12px 0 0 12px;
  color: lightyellow;
}
fieldset::before {
  content: 'log in';
  color: maroon;
  position: absolute;
  transform: rotate(-90deg);
  font-family: 'helvetica';
  font-size: 1.5em;
  left: -12px;
  bottom: 41%;
}
input[type="text"], input[type="password"] {
  width: 95%;
  display: block;
  margin: 0 auto .2em auto;
  vertical-align: center;
  border: none;
}
input[type="text"]:focus, input[type="password"]:focus {
  background-color: lightyellow;
} 
input[type="submit"] {
  min-width: 50px;
  max-width: 50%;
  display: block;
  margin: .4em auto 0 auto;
  padding: .2em;
  border: 1px solid brown;
  border-radius: 3px;
  background-image: linear-gradient(rgb(245, 145, 122), brown);
  cursor: pointer;
}
input[type="submit"]:hover {
  background-image: linear-gradient(rgb(245, 145, 122), maroon);
  
}
.with-delay {
  
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
div#sidebar {
  position: fixed;
  left: 60px;
  top: -80px;
  width: 12%;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  display: inline-block;
  float: left;
  z-index: 1; 
  margin: .8em 1.2em 0 0;
  visibility: hidden;
}
div#sidebar ul {
  list-style-type: none;
  padding: 0;
  display: inline;
  margin: 0;
}
div#sidebar ul li {
  margin: 0 0 .06em 0;
}
div#sidebar ul li a {
  font-family: sans-serif, Arial, Helvetica;
  color: maroon;
  font-size: 1.2em;
  font-weight: 300;
  display: block;
  border-radius: 3%;
  text-decoration: none;
  padding: .35em;
  background-color: rgb(255, 230, 153);
  opacity: .85;
}
div#sidebar ul li a:hover {
  font-family: sans-serif, Arial, Helvetica;
  color: lightyellow;
  background: brown;
  opacity: .95;
  border-radius: 3%;
  font-weight: 300;
  display: block;
  text-decoration: none;
  padding: .35em;
}
div#sidebar button {
  background-image: radial-gradient(rgb(245, 145, 122), maroon);
  width: 5%;
  min-width: 53px;
  max-width: 53px;
  z-index: 2;
  position: fixed;
  top: 72px;
  left: 0;
  margin: .1em .3em;
  border: none;
  border-radius: 50%;
  padding: 1.3em 0;
  visibility: visible;
  color: black;
  cursor: pointer;
}
div#sidebar:hover {
  
  top: 60px;
  visibility: visible;
  
}
div#sidebar button:hover {
  transform: rotate(-30deg);
}
div#content {
  position: fixed;
  left: 200px;
  
  width: 64%;
  min-width: 400px;
  min-height: 460px;
  max-height: 40em;
  background-color: rgb(255,200,150);
  overflow: scroll;
  text-align: justify;
  border: 2px solid maroon;
  margin: -.5em auto .5em 30px; 
  padding: .8em;
}
.no-wrap {
  clear: both;
}
div#footer {
  position: fixed;
  background-color: #b7d7e8;
  bottom: 0;
  margin-left: -6px;
}
div#invisibleFooter{
  visibility: hidden;
}
div#footer ul, div#invisibleFooter ul {
  font-family: sans-serif, "comic sans ms";
  list-style-type: none;
  font-size: .7em;
  margin: auto;
 
}
div#footer ul li, div#invisibleFooter ul li {
  display: inline;
  width: 30%;
  float: left;
  text-align: center;
   
}
div#footer ul li a, div#invisibleFooter ul li a {
  display: inline-block;
  padding: .2em;
  text-decoration: none;
  margin: 0;
}
div#footer ul li a:hover {
  display: inline-block;
  padding: .1em;
  text-decoration: underline;
  font-size: 1.03em;
  margin: 0;
}
div#media fieldset {
  position: fixed;
  bottom: 1.5em;
  right: -362px;
  max-height: 100%;
  padding: 0.2em 0;
  background-color: black; 
}
div#media fieldset::before {
  content: 'video';
  color: maroon;
  position: absolute;
  transform: rotate(-90deg);
  font-family: 'helvetica';
  font-size: 1.5em;
  left: -38px;
  bottom: 43%;
}
#media fieldset:hover {
  right: -2px;
}
div#media audio {
  position: fixed;
  top: 1em;
  left: 0.em;
  z-index: 3;
  clear: both;
  display: block;
  max-width: 100%;
  
}
