div.contact_info {
    position: relative;

    min-width: 1023px;
    margin: 0 auto;
}

.font {
    font-family: 'Trebuchet MS', Arial, sans-serif ;
    font-size: 14px;
    font-weight: normal;

    text-transform: none;

    color: rgb(102,102,102);
}

.contact_info div:not(.ext_links) {
    display: inline-block;

    width: calc(50% - 2px);
    margin: 0;
    padding: 30px 0;
}

.contact_info .map {
    position: absolute;
    right: 0;

    height: 100%;

    background: url(../images/map.jpg) no-repeat center;
    background-size: 100%;
}

.contact_info ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.contact_info ul.ext_ul,
div.ext_links {
    width: 80%;
    max-width: calc(1023px / 2);
    margin: 0 auto;
}

.contact_info li {
    padding-bottom: 5px;
}

li.call {
    position: relative;

    margin: 0;
    padding: 5px 5px 10px 40px;
}

.call:after {
    position: absolute;
    top: 3px;
    left: 0;

    width: 24px;
    height: 27px;

    content: '';

    background: url(../images/contact_icon_col.png) no-repeat 0 0;
    -webkit-background-size: 80%;
    background-size: 80%;
}

.call.tel:after {
    background-position: 0 -27px;
}

.call.mail:after {
    background-position: 0 -54px;
}

.ext_links a {
    line-height: 46px;

    position: relative;

    display: inline-block;

    width: 46px;
    height: 46px;
    margin: 20px 10px;

    color: transparent;
    border-radius: 100%;
}

.ext_links a:after {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: url(../images/net_icon.png) no-repeat 0 0;
}

.ext_links a.tw:after {
    background-position: -69px 0;
}

.ext_links a.in:after {
    background-position: -138px 0;
}

.ext_links a:hover {
    background-color: palegreen;
}

footer {
    width: 100%;
    min-width: 1023px;
    padding: 30px 0;

    text-align: center;

    background-color: rgb(48,112,168);
}

footer p {
    color: white;
}

footer span {
    font-weight: bold;
}

footer span.brand {
    color: black;
}
