body {
    font-family: 'Lato', sans-serif;

    box-sizing: border-box;

    width: 100%;
    min-width: 270px;

    margin: 0;
    padding: 0;

    color: #333;
    background-color: #fff;
}

.up {
    font-size: 20px;
    text-align: center;

    position: fixed;
    right: 10px;
    bottom: 100px;

    width: 10px;
    padding: 5px 10px 0;

    border-radius: 5px;
    color: #fff;
    background-color: #3998f5;
    opacity: .6;
}

.up:hover {
    opacity: .9;
}

.sr-only {
    position: absolute;
    top: 105%;
    left: 5px;

    width: 0;
    height: 0;
    padding: 0;
    margin: -1px;

    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.sr-only-focusable:focus {
    width: auto;
    height: auto;
    margin: 0;
    padding: 5px;

    overflow: auto;
    clip: auto;

    border-radius: 3px;
    opacity: .8;
    color: #fff;
    background: #3998f5;
}

.shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #333;
    opacity: .99;
}

.align {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    max-width: 100%;

    margin: auto;
}

.hide {
    display: none;
}

ul,
h2,
p {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;

    margin: 0 10px;

    list-style: none;
}

li:last-of-type {
    margin-right: 0;
}

a {
    text-decoration: none;

    color: #333;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0;
}

.section,
.social,
.footer {
    width: 80%;
    max-width: 1354px;
    margin: 0 auto;
    padding: 0;
}

.strong {
    color: #3998f5;
}

.section-title {
    font-size: 400%;
    font-weight: normal;

    text-align: center;
    text-transform: capitalize;

    -ms-flex: 1 100%;
    flex: 1 100%;
}

.section-title_strong {
    font-family: 'Montserrat', sans-serif;

    text-transform: lowercase;
}


/*----------------------------------------------------------------------------
                                HEADER SECTION
----------------------------------------------------------------------------*/


.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    letter-spacing: 1.2px;

    color: #999;
}

.nav-item:hover {
    color: #333;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;

    width: 100%;
    height: 62px;

    text-align: center;

    background-color: #fff;
}

.header__logo {
    font-weight: normal;

    margin-left: 11%;

    text-transform: uppercase;
}

h1 {
    font-size: 22px;

    display: inline-block;
}

.header__logo-img {
    margin-right: 5px;

    vertical-align: text-bottom;
    border: 2px solid transparent;  /*for IE9 - not to show border in logo*/
}

.nav {
    display: inline-block;

    margin: auto;
    margin-right: 10.5%;
    margin-left: 20px;
}

.primary {
    color: #333;
}

.primary:hover {
    font-weight: bold;
}

/*-------------------------------------------------------------------------------
                     ABOUT PRODUCT - DOWNLOAD - BANNER SECTION
-------------------------------------------------------------------------------*/


.about-product {
    padding-top: 170px;
    padding-bottom: 60px;

    text-align: center;
}

.about-product_title {
    padding-bottom: 10px;

    letter-spacing: 4px;
}

.about-product_strong {
    font-weight: bold;
}

.about-product__summary {
    font-size: 25px;

    margin-bottom: 35px;

    letter-spacing: 1px;
}

.product-proto__pic {
    max-width: 100%;
}

.product-proto__download {
    font-family: 'Lato', sans-serif;
    font-size: 15px;

    position: relative;
    display: inline-block;

    margin: 45px auto;
    padding: 14px 29px;
    padding-right: 58px;

    letter-spacing: .5px;
    text-transform: uppercase;

    color: #fff;
    border: 1px solid #076cce;
    border-radius: 2px;
    background-color: #3998f5;
    background-image: linear-gradient(to bottom, #3998f5, #1777d9);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 #3998f5;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .31);
}

.product-proto__download:after {
    position: absolute;
    top: 8px;
    left: 165px;

    content: url(img/arrow.png);
}

.product-proto__download:hover {
    background-image: linear-gradient(to bottom, #1777d9, #3998f5);
}

.product-proto__os {
    font-family: 'Montserrat', sans-serif;
}

.product-proto_font-color {
    color: #555;
}

.product-proto__caption {
    font-size: 225%;

    padding: 5px;

    letter-spacing: 3.6px;
}

.product-proto_bottom {
    letter-spacing: 1px;
}

.small {
    font-size: 18px;
}

.banner-content {
    width: 100%;

    background-color: #f7f7f7;
    box-shadow: inset 0 5px 20px 0 #ddd, inset 0 -5px 20px 0 #ddd;
}

/*----------------------------------------------------------------------------
                                FEATURES SECTION
----------------------------------------------------------------------------*/

.features {
    padding-top: 100px;
}

.features_title {
    margin-bottom: 45px;

    letter-spacing: 1.3px;
}

.features-content {
    font-family: 'Montserrat', sans-serif;
}

.features-content__new-feature {
    font-size: 17px;

    position: relative;

    padding-bottom: 10px;
}

.features-content__new-feature:after {
    position: absolute;
    top: -8px;
    left: -32px;

    width: 30px;
    height: 30px;

    content: '';

    background: transparent url(img/features_sprite.jpg) -12px -2px;
}

.features-content_security:after {
    top: -6px;
    left: -31px;

    background-position: -76px -2px;
}

.features-content_mobile:after {
    top: -6px;
    left: -28px;

    background-position: -50px -2px;
}

.features-content_customize:after {
    top: -5px;
    left: -29px;

    background-position: -142px -3px;
}

.features-content_new-design:after {
    top: -6px;
    left: -30px;

    background-position: -108px 0;
}


.features-content__new-feature:before {
    position: absolute;
    top: 20px;
    left: 195px;

    width: 110px;
    height: 90px;

    content: '';

    background: transparent url(img/pointers_sprite.jpg) no-repeat 0 -90px;
}

.features-content_security:before {
    top: 30px;
    left: -35px;

    width: 50px;
    height: 80px;

    background-position: -80px -8px;
}

.features-content_mobile:before {
    top: -20px;
    left: 172px;

    width: 55px;
    height: 40px;

    background-position: -55px -195px;
}

.features-content_customize:before {
    top: -96px;
    left: 15px;

    width: 35px;
    height: 95px;

    background-position: -65px -255px;
}

.features-content_new-design:before {
    top: -25px;
    left: 25px;

    width: 12px;
    height: 28px;

    background-position: -90px -370px;
}


.features-media {
    width: 100%;
    min-height: 560px;
    margin: 0 auto;

    background: transparent url(img/content-banner-img1.jpg) no-repeat 250px 134px;
}

.features-content__new-feature-detail {
    font-size: 13px;

    position: relative;
}

.features-content_new-design {
    top: 155px;
    left: 650px;

    max-width: 235px;
}

.features-content_options {
    top: 20px;
    left: 80px;

    max-width: 210px;
}

.features-content_security {
    top: -40px;
    left: 580px;

    max-width: 200px;
}

.features-content_mobile {
    top: 140px;
    left: 30px;

    max-width: 210px;
}

.features-content_customize {
    top: 285px;
    left: 280px;

    max-width: 280px;
}


/*----------------------------------------------------------------------------
                                PRICING SECTION
----------------------------------------------------------------------------*/

.pricing {
    padding-top: 84px;
}

.pricing_title {
    margin-bottom: 61px;

    letter-spacing: 1.5px;
}

.pref-plan {
    font-weight: normal;

    display: inline-block;

    width: 20.89%;
    max-width: 345px;
    margin-right: 3.72%;
    padding-bottom: 7px;

    text-align: center;

    border-radius: 5px;
    box-shadow: 0 0 7px #aaa;

    -ms-flex: 1 1 254px;
    flex: 1 1 254px;

    min-width: 254px;
}

.pref-plan__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;

    margin: 0;
    padding: 20px;

    text-transform: capitalize;
}

.pref-plan:last-of-type {
    margin-right: 0;
}

.exclusive {
    margin-top: -8px;
    padding-top: 24px;
    padding-bottom: 24px;

    color: #fff;
    border-radius: 5px 5px 0 0;
    background-color: #333;
}

.pref-plan__price {
    font-size: 24px;
    font-weight: normal;

    margin: 0;
    padding: 17px;

    text-align: center;
    letter-spacing: 1px;

    color: #ddd;
    background-color: #202020;
}

.pref-list {
    font-weight: lighter;

    padding-top: 24px;
}

.pref-plan__option {
    font-size: 19px;

    display: block;

    margin: 0;
    padding: 17px;

    letter-spacing: 1px;

    border-bottom: 1px solid #eee;
}

.pref-plan__pref-item {
    font-weight: lighter;

    text-transform: capitalize;

    color: #0365ff;
}

.pref-plan__submit {
    font-size: 17px;

    display: inline-block;

    box-sizing: border-box;

    width: 81.45%;
    max-width: 281px;
    margin: 28px auto;
    padding-top: 13px;
    padding-bottom: 21px;

    transition: all .1s;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.button {
    border: 2px solid #3998f5;
    border-radius: 4px;
}

.pref-plan_submit-exclusive {
    margin-bottom: 37px;

    transition: all .1s;

    color: #fff;
    background-color: #3998f5;
}

.pref-plan__submit:hover {
    color: #fff;
    background-color: #3998f5;
}

.pref-plan_submit-exclusive:hover {
    border: 2px solid #1b8dfc;
    background-color: #1b8dfc;
}


/*----------------------------------------------------------------------------
                            SUPPORT - FEEDBACK SECTION
----------------------------------------------------------------------------*/

.feedback-block {
    padding-top: 102px;
}

.feedback-block_title {
    margin-bottom: 54px;

    letter-spacing: 1px;
}

.feedback {
    display: inline-block;

    max-width: 320px;
    margin: 0;
    margin-right: 30px;
}

.feedback:last-of-type {
    margin-right: 0;
}

.feedback__person {
    min-width: 180px;
    max-width: 100%;

    border: 7px solid #fff;
    box-shadow: 0 0 7px #aaa;
}

.feedback__person-avatar {
    position: relative;

    display: inline-block;

    width: 100%;
}

.feedback__person-avatar:after {
    position: absolute;

    margin: 0;
    content: url(img/zoom.png);

    opacity: 0;
}

.feedback__person-avatar-position:after {
    top: 7px;
    left: 135px;

    transition: all ease-in .2s;
}

.feedback__person-avatar:hover:after {
    opacity: .9;
}

.feedback__person-avatar-position:hover:after {
    top: 95px;
}

.feedback__item {
    display: inline-block;

    padding: 0;
}

.feedback__person-site {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;

    width: 100%;
    margin-top: 28px;
}

.feedback__person-site:hover {
    color: #3998f5;
}

.feedback__person-position {
    font-size: 17px;

    margin-top: 10px;

    letter-spacing: 1px;
    text-transform: capitalize;
}

/*----------------------------------------------------------------------------
                                SOCIAL NETWORK SECTION
----------------------------------------------------------------------------*/

.social {
    padding-top: 61px;
    padding-bottom: 85px;
}

.social__title {
    font-size: 30px;
    font-weight: normal;

    margin-bottom: 29px;

    text-align: center;
    letter-spacing: 2px;
}

.social-links {
    text-align: center;
}

.social-links__item {
    margin-right: 14px;
}

.social-links__item:last-of-type {
    margin-right: 0;
}

.social-links__ext {
    display: inline-block;

    padding: 20px;

    border-radius: 50%;
    background: transparent url(img/img-sprite.png) no-repeat -1px -1px;
}

.social-links_fb {
    background-position: -56px 0;
}

.social-links_gp {
    background-position: -112px 0;
}

.social-links_pi {
    background-position: -169px 0;
}

.social-links_in {
    background-position: -226px 0;
}

.social-links_tw:hover {
    background-position: -1px -43px;
}

.social-links_fb:hover {
    background-position: -56px -42px;
}

.social-links_gp:hover {
    background-position: -112px -42px;
}

.social-links_pi:hover {
    background-position: -169px -42px;
}

.social-links_in:hover {
    background-position: -226px -42px;
}


/*----------------------------------------------------------------------------
                            FOOTER SECTION
----------------------------------------------------------------------------*/


.footer {
    font-family: 'Montserrat', sans-serif;

    padding-top: 42px;
    padding-bottom: 42px;

    color: #999;
    border-top: 2px solid #eee;
}

.map {
    display: inline-block;

    margin-left: 10px;
}

.map__item {
    text-transform: capitalize;
}

.footer__additional-info {
    display: inline-block;
    margin-left: 10px;
}

.footer__contact-link:hover {
    color: #333;
}


/*-----------------------------------------------------------------------------
                            FLEX SECTION
-----------------------------------------------------------------------------*/


.container {
    display: -ms-flexbox;
    display: flex;

    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}

.container_for-header {
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.container_for-pricing {
    text-align: center;

    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start;
}

.price-plan-wrapper {
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    margin: auto;

    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start;
}

.feedback-wrapper {
    text-align: center;

    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start;
}

.container_for-social {
    -ms-flex-pack: center;
    justify-content: center;
}

.container_for-footer {
    text-align: center;

    -ms-flex-pack: justify;
    justify-content: space-around;
}

.footer__additional-info {
    margin-top: 10px;
}

/*----------------------------------------------------------------------------
                            MEDIA QUERY SECTION
----------------------------------------------------------------------------*/

@media screen and (min-width: 1381px) {
    .features-content_new-design {
        left: 820px;
    }

    .features-content_options {
        left: 250px;
    }

    .features-content_security {
        left: 750px;
    }

    .features-content_mobile {
        left: 195px;
    }

    .features-content_customize {
        left: 450px;
    }

    .features-media {
        background-position: 420px 134px;
    }

    .container_for-footer {
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .footer__additional-info {
        margin-top: 0;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1110px) {
    .section,
    .social,
    .footer {
        width: 90%;
    }
}


@media screen and (max-width: 1110px) {
    .pref-plan__title {
        font-size: 28px;
    }

    .pref-plan__price {
        font-size: 20px;
    }

    .pref-plan__submit {
        margin-bottom: 23px;
        padding: 13px;
    }

    .pref-plan_submit-exclusive {
        margin-bottom: 28px;
    }

    .pref-plan__option {
        font-size: 16px;
        font-weight: normal;

        padding: 7px;
    }
}


@media screen and (min-width: 931px) and (max-width: 1024px) {
    .section,
    .footer,
    .social {
        width: 95%;
    }


    .section-title {
        font-size: 350%;
    }
}


@media screen and (max-width: 1024px) {
    .about-product {
        padding-top: 123px;
    }

    .pref-plan,
    .pref-plan:last-of-type {
        margin: 10px;
    }

    .feedback {
        margin-right: 20px;
    }

    .feedback__person-avatar:after {
        opacity: .5;
    }

    .feedback__person-avatar-position:after {
        top: auto;
        left: auto;
        bottom: 20px;
        right: 20px;

        content: url(img/zoom_small.png);
    }

    .feedback__person-avatar-position:hover:after {
        top: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 930px) {
    .section-title {
        font-size: 300%;
    }
}


@media screen and (max-width: 930px) {
    .section,
    .footer,
    .social {
        width: 100%;
    }

    .product-proto__caption {
        font-size: 150%;

        letter-spacing: 1px;
    }

    .feedback-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .feedback {
        margin: 5px;
    }

    .feedback__person-site {
        margin-top: 15px;
    }

    .feedback__person-position {
        margin-top: 5px;
        margin-bottom: 18px;
    }
}


@media screen and (max-width: 890px) {
    .features-media {
        background-position: 330px 134px;
    }

    .features-content__new-feature,
    .features-content__new-feature-detail {
        top: 0;
        left: 40px;
    }

    .features-content__new-feature-detail {
        margin-bottom: 25px;
    }

    .features-content__new-feature:before {
        display: none;
    }

    .social-links__item {
        margin-right: 20px;
    }

    .social-links__item:last-of-type {
        margin-right: 0;
    }
}


@media screen and (min-width: 381px) and (max-width: 768px) {
    .section-title {
        font-size: 250%;
    }

}


@media screen and (max-width: 768px) {
    .about-product__summary {
        font-size: 120%;
    }

    .product-proto__caption {
        font-size: 120%;
    }

    .small {
        font-size: 80%;
    }

    .features-media {
        background-position: 260px 40px;
        background-size: 55%;
    }

    .price-plan-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .pref-plan {
        min-width: 220px;
        max-width: 250px;

        -ms-flex: 1 0 220px;
        flex: 1 0 220px;
    }

    .pref-plan__submit {
        font-size: 14px;

        letter-spacing: 1px;
    }

    .footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .map {
        margin-bottom: 12px;
    }
}


@media screen and (max-width: 685px) {
    .container_for-header {
        min-height: 75px;

        -ms-flex-align: end;
        align-items: flex-end;
    }

    .header__logo {
        margin: 10px auto;

        max-height: 35px;

        text-align: center;

        -ms-flex: 1 100%;
        flex: 1 100%;
        align-self: flex-start;
    }

    h1 {
        margin: 0;
    }

    .nav {
        margin: 0 auto;

        text-align: center;

        -ms-flex: 1 100%;
        flex: 1 100%;
    }

    .header__nav-item {
        padding: 2px 10px;
        padding-bottom: 0;

        color: #eee;
        border: 1px solid transparent;
        border-radius: 5px 5px 0 0;
        background-color: #333;
    }

    .header__nav-item:hover {
        background-color: #ddd;
    }

    .section-title {
        font-size: 200%;

        padding-top: 0;
    }

    .about-product {
        padding-top: 0;
    }

    .section {
        padding-top: 120px;
    }

    .feedback {
        margin: 2px;
    }
}


@media screen and (max-width: 580px) {
    .section-title {
        padding-bottom: 10px;
    }

    .features-media {
        background-position: 35px 440px;
        background-size: 35%;
    }

    .map {
        margin: 15px auto;

        text-align: center;
    }

    .map__item {
        display: inline-block;

        margin: 5px;
    }

    .footer__additional-info {
        text-align: center;
    }
}


@media screen and (max-width: 442px) {
    .container_for-nav {
        display: -ms-flexbox;
        display: flex;

        width: 100%;

        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: justify;
        justify-content: space-around;
    }

    .header-flex-item {
        display: -ms-flexbox;
        display: flex;

        margin: 0 3px;
    }

    .header__nav-item {
        font-size: 13px;

        padding: 3px;

        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
}


@media screen and (max-width: 380px) {
    .section {
        padding-top: 90px;
    }

    .section-title {
        margin-bottom: 5px;
    }

    .section-title {
        font-size: 140%;
    }

    .about-product__summary,
    .product-proto__caption,
    .small {
        font-size: 90%;
    }

    .product-proto__download {
        font-size: 12px;

        margin: 20px auto;
        padding: 5px 30px 5px 10px;
    }

    .product-proto__download:after {
        top: -2px;
        left: 115px;
    }

    .features-media {
        background-position: 40px 460px;
    }

    .features-content__new-feature,
    .features-content__new-feature-detail {
        top: 0;
        left: 36px;

        max-width: 230px;
    }

    .feedback {
        max-width: 240px;
    }

    .feedback__caption {
        margin-bottom: 15px;
    }

    .social__title {
        font-size: 120%;
    }

    .social-links {
        padding: 0 20px;

        text-align: center;
    }
}


@media print {
    @page {
        size: A4;
        margin: .1in;
    }
    
    * {
        color: black !important;
        background: #fff !important;
    }
    
    body {
        font-family: "Times New Roman", Times, serif;
        font-size: 12pt;
    }

    .up {
        visibility: hidden;
    }

    a:not(.header__logo) {
        text-decoration: underline;
    }

    .header {
        position: static;
    }

    .section:not(.about-product) {
        page-break-before: auto;

        width: 96%;
    }

    .section {
        page-break-inside: avoid;

        padding-top: 40pt;
        padding-bottom: 5pt;
    }

    .section-title {
        margin-bottom: 10pt;
    }

    .product-proto__download {
        margin: 10pt auto;
    }

    .banner-content {
        box-shadow: none;
    }

    .features-content {
        display: inline-block;

        margin: 0 auto;
        padding: 0 5%;
    }

    .features-media {
        min-height: 10pt;
    }

    .features-content__new-feature:before {
        width: 0;
        height: 0;
    }
    
    .features-content__new-feature,
    .features-content__new-feature-detail {
        position: static;

        display: inline-block;
    }

    .features-content__new-feature {
        min-width: 28%;

        margin-bottom: 20pt;
    }

    .features-content__new-feature-detail {
        font-size: 11pt;

        min-width: 70%;
    }
    
    br {
        display: none;
    }

    .pref-plan {
        width: 30%;
        margin: 0 1%;
        padding-bottom: 2pt;

        border-radius: 5px;
        border: 2pt solid #aaa;
        box-shadow: none;
    }

    .pref-plan__title {
        padding: 10pt;
    }

    .exclusive {
        margin-top: -3pt;
        padding-bottom: 12pt;

        border-top: 1pt solid #aaa;
    }

    .pref-plan__price {
        padding: 8pt;

        border-top: 1pt solid #999;
        border-bottom: 1pt solid #999;
    }

    .pref-list {
        padding-top: 5pt;
    }

    .pref-plan__option {
        padding: 5pt;

        border-bottom: 1pt solid #ddd;
    }

    .pref-plan__submit {
        width: 81.45%;
        margin: 10pt auto;
        padding: 10pt;
    }

    .pref-plan_submit-exclusive {
        margin-bottom: 15pt;
    }

    .social {
        padding-top: 40pt;
        padding-bottom: 15pt;
    }

    .social__title {
        margin-bottom: 5pt;
    }

    .social-links__item {
        margin: 2pt 5pt;
    }

    .social-links__ext:after {
        content: attr(title);
    }

    .footer {
        padding-top: 10pt;
    }
}