html {

}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.4;

    width: 100%;
    min-width: 270px;
    margin: 0;

    box-sizing: border-box;

    color: #333;
    background-color: #fff;
}

ul,
dd,
h1 {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    -display: inline-block;
    margin: 0 2px;
}

a {
    color: #777;
    text-decoration: none;
}

a:hover {
    color: #333;
}

img {
    max-width: 100%;
}

.sr-only {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable:focus {
    width: auto;
    height: auto;
    margin: 0;

    overflow: visible;
    clip: auto;
}

.menu {
    display: inline-block;
}

.link {
    font-size: 12px;

    display: inline-block;
    padding: 5px 8px;

    text-align: center;
    cursor: pointer;

    background-image: none;
}

@media screen and (min-width: 430px) {
    .link {
        font-size: 13px;
        padding: 5px 10px;
    }
}

@media screen and (min-width: 768px) {
    .link {
        font-size: 15px;
    }
}

.container {
    display: -ms-flexbox;
    display: flex;
}


.l-section {
    padding-top: 90px;
}

@media screen and (min-width: 493px) and (max-width: 767px) and (orientation: landscape) {
    .l-section {
        padding-top: 40px;
    }
}

@media screen and (min-width: 768px) {
    .l-section {
        padding-top: 70px;
    }
}

.section-title {
    font-family: 'Lato', sans-serif;
    font-size: 240%;
    font-weight: normal;

    text-align: center;
    text-transform: capitalize;

    margin: 0;
    -ms-flex: 1 100%;
    flex: 1 100%;
}

.section-title-strong {
    font-weight: bold;
    text-transform: lowercase;
}

.section-text {
    text-align: center;
    margin: 0;
}


.scroll-top {
    font-size: 20px;
    text-align: center;

    border-radius: 5px;
    color: #fff;
    background-color: #3998f5;
    opacity: .6;
    transition: opacity .35s ease;
}

.l-top {
    position: fixed;
    right: 10px;
    bottom: 100px;

    width: 10px;
    padding: 5px 10px 0;
}

.scroll-top:hover {
    opacity: .9;
}

/*----------------------------------------------------------------------------
                                HEADER SECTION
----------------------------------------------------------------------------*/

.header {
    background-color: #fff;
}

.l-header {
    position: fixed;
    z-index: 100;
    top: 0;

    width: 100%;
}

.header-flex {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
}

.link-logo {
    margin-bottom: 8px;
}

.img-for-logo {
    border: 2px solid transparent;
    /*for IE9 - not to show border in logo*/
}

.title-for-logo {
    font-size: 18px;
    text-transform: uppercase;
    color: #333;
}

.logo--title {
    display: inline-block;
    vertical-align: bottom;
}

.logo--img {
    vertical-align: middle;
}

.header--nav {
    -ms-flex: 1 50%;
    flex: 1 50%;
}

.nav--list {
    display: -ms-flexbox;
    display: flex;

    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: justify;
    justify-content: space-around;
}

.link-for-nav {
    font-weight: bold;
    letter-spacing: 2px;

    color: #eee;
    background-color: #333;

    border-radius: 5px 5px 0 0;
}

.link-for-nav:hover {
    background-color: #ddd;
}

@media screen and (min-width: 480px) and (orientation: landscape) {
    .nav--list {
        flex-grow: 1;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .link-logo {
        flex-grow: 1;
        margin-bottom: 0;
    }

    .link-for-nav {
        color: #333;
        background-color: #ddd;
    }

    .link-for-nav:hover {
        color: #eee;
        background-color: #333;
    }
}

@media screen and (min-width: 493px) {
    .nav--list {
        flex-grow: 1;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .link-logo {
        flex-grow: 1;
        margin-bottom: 0;
    }
    .link-for-nav {
        color: #333;
        background-color: #ddd;
    }

    .link-for-nav:hover {
        color: #eee;
        background-color: #333;
    }
}

@media screen and (min-width: 580px) {
    .link-for-nav {
        color: #999;
        background-color: #fff;
        border-radius: 0;
    }

    .link-primary {
        color: #333;
    }

    .link-for-nav:hover {
        color: #333;
        box-shadow: 0 2px #333;
        background-color: #fff;
    }

    .link-primary:hover {
        font-weight: bolder;
        color: #000;
    }
}

@media screen and (min-width: 768px) {
    .header {
        padding: 1rem 0;
    }

    .title-for-logo {
        font-size: 20px;
    }
}


.sr-link-highlight {
    padding: 5px;

    border-radius: 3px;
    opacity: .8;

    color: #fff;
    background: #3998f5;
}

.header--sr-link {
    top: 105%;
    left: 5px;
}



/*-------------------------------------------------------------------------------
                     ABOUT PRODUCT - DOWNLOAD - BANNER SECTION
-------------------------------------------------------------------------------*/
.about-product {
    text-align: center;
    letter-spacing: 1px;
}

.l-about-product {
    -padding-bottom: 60px;
}

.about-product--summary {
    font-size: 15px;
}

.product-proto--img {
    max-width: 100%;
}

.btn-download {
    text-transform: uppercase;
}

.btn-download-for-proto {
    color: #fff;
    border: 1px solid #0a65be;
    border-radius: 2px;

    background-color: #3998f5;
    background-image: linear-gradient(to bottom, #3998f5, #0c7fef);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 #3998f5;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.31);
}

.btn-download-for-proto:hover {
    color: #fff;
    background-image: linear-gradient(to bottom, #0c7fef, #3998f5);
}

.product-proto--download {
    position: relative;

    margin: 1rem auto;
    padding: .5rem 1rem;
    padding-right: 2rem;
}

.product-proto--download:after {
    position: absolute;
    top: 0;
    right: 5px;

    content: url(img/arrow.png);
}
.product-proto--caption {
    font-size: 120%;
    margin: 0;
}

.product-proto-strong {
    color: #3998f5;
}

.small {
    font-size: 100%;
}

@media screen and (min-width: 493px) and (max-width: 767px) and (orientation: landscape) {
    .product-proto--img {
        width: 80%;
    }

    .product-proto--download {
        margin: 5px;
    }
}

/*----------------------------------------------------------------------------
                                FEATURES SECTION
----------------------------------------------------------------------------*/

.banner-content {
    width: 100%;
    background-color: #f7f7f7;
    box-shadow: inset 0 5px 20px 0 #ddd, inset 0 -5px 20px 0 #ddd;
}

.d-list {
    width: 100%;
}

.features--d-list {
    flex-flow: column wrap;

    justify-content: center;
    align-items: center;
}

.d-list--feature {
    position: relative;

    font-size: 15px;
    font-weight: bold;
}

.l-d-list-item {
    margin-top: 10px;
    margin-bottom: 5px;
}

.l-d-list-data {
    font-size: 14px;
    max-width: 90%;
}

.d-list--data {
    text-align: center;
}

.d-list--feature:after {
    position: absolute;
    top: -6px;
    left: -32px;

    width: 27px;
    height: 27px;
    content: '';
    background: transparent url(img/features_sprite.jpg);
}

.l-d-list-options:after {
    background-position: -12px -2px;
}

.l-d-list-security:after {
    top: 0;
    left: -25px;

    width: 23px;
    height: 25px;

    background-position: -78px -7px;
}

.l-d-list-mobile:after {
    background-position: -40px -2px;
}

.l-d-list-customize:after {
    background-position: -138px -3px;
}

.l-d-list-new-design:after {
    background-position: -107px -3px;
}

.features-media {
    max-width: 90%;
    padding-bottom: 10px;
    margin: 0 auto;
    background: url(img/content-banner-img1.jpg) no-repeat center center;
    background-size: auto;

    background-blend-mode: color;
    background-color: rgba(247, 247, 247, .8);
    box-shadow: inset 0 -20px 20px -20px #ddd;
}

/*----------------------------------------------------------------------------
                                PRICING SECTION
----------------------------------------------------------------------------*/

.pricing--list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pref-plan {
    font-weight: normal;
    text-align: center;
}

.pref-plan-default {
    min-width: 150px;
    max-width: 300px;

    padding-bottom: 5px;

    border-radius: 5px;
    box-shadow: 0 0 7px #aaa;
}

.l-pref-plan {
    margin: 10px 5px;
    flex: 1 100%;
}

.pref-plan--title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;

    text-transform: capitalize;
}

.pref-plan--title-default {
    padding: 10px;

    color: #333;
    border-radius: 5px 5px 0 0;
    background-color: #fff;
}

.pref-plan--title-exclusive {
    padding: 12px;

    color: #fff;
    border-radius: 5px 5px 0 0;
    background-color: #333;
}

.l-pref-plan--title {
    margin: 0;
}

.l-pref-plan--title-exclusive {
    margin: 0;
    margin-top: -4px;
}

.pref-plan--price {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;

    padding: 5px;

    color: #ddd;
    background-color: #202020;
}

.l-price {
    margin: 0;
}

.pref-list {
    font-weight: lighter;
    padding-top: 10px;
}

.pref-plan--option {
    font-size: 16px;
    letter-spacing: 1px;

    padding: 8px;
    border-bottom: 1px solid #eee;
}

.pref-plan-strong {
    font-weight: lighter;
    text-transform: capitalize;

    color: #1b8dfc;
}

.btn {
    display: inline-block;
    border: 2px solid #3998f5;
    border-radius: 4px;
}

.pref-plan-btn {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;

    padding: 5px;
}

.pref-plan-btn-def {
    color: #3998f5;
    background-color: #fff;
}

.pref-plan-btn:hover {
    color: #fff;
    background-color: #3998f5;
}

.pref-plan--submit {
    width: 81.45%;
    max-width: 180px;
    margin-top: 10px;

    transition: all .1s;
}

.pref-plan-btn-exclusive {
    margin-bottom: 5px;

    color: #fff;
    background-color: #3998f5;
    transition: all .1s;
}

.pref-plan-btn-exclusive:hover {
    border: 2px solid #1b8dfc;
    background-color: #1b8dfc;
}

@media screen and (min-width: 480px) and (orientation: landscape) {
    .l-pref-plan {
        flex: 1 30%;
    }

    .pref-plan--option {
        font-size: 15px;
        padding: 4px;
    }
}

/*----------------------------------------------------------------------------
                            SUPPORT - FEEDBACK SECTION
----------------------------------------------------------------------------*/

.feedback-wrapper {
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
}

.feedback {
    text-align: center;
}

.l-feedback {
    max-width: 320px;
    margin: 15px 5px;

    flex: 1 1 25%;
}

.feedback--person {
    min-width: 180px;
    max-width: 95%;

    border: 7px solid #fff;
    box-shadow: 0 0 7px #aaa;
}

.feedback--person-avatar {
    position: relative;
    display: inline-block;
    width: 100%;
}

.feedback--person-avatar:after {
    position: absolute;
    margin: 0;
    content: url(img/zoom.png);
    opacity: 0;
}

.zoom-position:after {
    top: 7px;
    left: 135px;
    transition: all ease-in 0.2s;
}

.feedback--person-avatar:hover:after {
    opacity: .9;
}

.zoom-position:hover:after {
    top: 95px;
}

.feedback--person-site {
    -font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.feedback--person-site:hover {
    color: #3998f5;
}

.feedback--person-position {
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

/*----------------------------------------------------------------------------
                                SOCIAL NETWORK SECTION
----------------------------------------------------------------------------*/

.social--follow-list {
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
}

.social-links {
    text-align: center;
}

.social-links--item {
    margin: 10px;
}

.social-links--ext {
    padding: 20px;
    border-radius: 50%;
    background: transparent url(img/img-sprite.png) no-repeat;
}

.social-links-tw {
    background-position: -1px -1px;
}

.social-links-fb {
    background-position: -56px 0;
}

.social-links-gp {
    background-position: -112px 0;
}

.social-links-pi {
    background-position: -169px 0;
}

.social-links-in {
    background-position: -226px 0;
}

.social-links-tw:hover {
    background-position: -1px -43px;
}

.social-links-fb:hover {
    background-position: -56px -42px;
}

.social-links-gp:hover {
    background-position: -112px -42px;
}

.social-links-pi:hover {
    background-position: -169px -42px;
}

.social-links-in:hover {
    background-position: -226px -42px;
}

