* {
  box-sizing: border-box;
}

.main {
    position: relative;
  
    width: 840px;
    margin: 0 auto;
}

/*.main:after {
  content: '';
  display: table;
  clear: both;
}*/

.ultimate {
  position: absolute;
  left: 555px;
  z-index: -1;
}

.ultimate .title_bg {
  background: lightseagreen;
}

.best_offer {
  position: absolute;
  left: 280px;
}

.standard {
  position: absolute;
  left: 5px;
  z-index: -1;
}


.offer .title, .header, .button {
  text-transform: uppercase;
}

.offer {
  font-family: 'Trebuchet MS';
  
  width: 280px;
  
  margin: calc(.65em + 4px) auto 0;
  border: 1px solid lavender;
  background: white;
  border-radius: 5px;
}


.title {
  font-size: 1.35em;
  font-weight: bold;
  
  text-align: center;
  
  padding-top: .9em;
  padding-bottom: .6em;
  
  color: white;
  border-radius: 5px 5px 0 0;
  background: deepskyblue;
}


.header {
  font-size: 1.4em;
  font-weight: normal;
  letter-spacing: .02em;
  
  text-align: center;
  padding-top: 1.05em;
  padding-bottom: .4em;
  
  color: rgb(70,70,70);
}

.price {
  position: relative;
 
  font-family: 'Trebuchet MS';
  font-size: 4.2em;
  font-weight: bold;
  
  padding-left: 1.2em;
  
  color: rgb(70,70,70);
}

.price:before {
  content: '$';
  font-size: .35em;
  
  position: absolute;
  top: 13%;
  left: 25%;
}

.price:after {
  content: 'Monthly';  
  font-size: .25em;
  
  position: absolute;
  top: 65%;
  left: 55%;
}

.offer ul {
  list-style: none;
  
  margin: 1em;
  padding: 0;
  
  color: rgba(150,150,150,1);
}

.offer ul li {
  margin-top: 1px;
  padding-top: .25em;
  padding-bottom: .25em;
  padding-left: 2em;
}

.offer ul li:nth-child(odd) {
  background: rgba(235,245,255,1);
 }
 
 .offer ul li:nth-child(even) {
  background: rgba(245,245,245,1);
 }
 
 .offer ul li:before {
   content: url( 'http://123enot.github.io/markup/l05/images/checked.png' );
   margin-right: .8em;
 }
 
 .button {
   cursor: pointer;
   font-weight: bold;
   text-align: center;
   
   margin: 1em 1em 1.3em;
   padding: .5em 0;
   
   color: white;
   border-radius: 5px;
   box-shadow: 0 3px 0 rgb(24,57,154);
   background: steelblue;
 }
 
 .button:active {
   margin-top: 1.22em;
   margin-bottom: 1.08em;
   box-shadow: 0 1px 0 rgb(24,57,154);
 }
 

/* Design for BEST VALUE */

.best_offer {
  margin-top: 0;
}

.best_border {
  border: 4px solid darkorange;
  box-shadow: 0 0 8px 0 lightblue;
}

.best_title {
  padding: 1.2em;
  padding-top: .82em;
  border-radius: 0;
  background: darkorange;
}

.best_button {
   margin-bottom: 2em;
   box-shadow: 0 3px 0 rgb(200,70,50);
   background: darkorange;
}
  
.best_button:active {
   margin-top: 1.22em;
   margin-bottom: 1.78em;
   box-shadow: 0 1px 0 rgb(200,70,50);
}
