body {
  font-family: 'Economica';
  font-weight: 700;
}

nav {
  text-transform: uppercase;
  text-align: center;
  
  width: 100%;
  min-width: 900px;
}

nav ul {
  list-style-type: none;
  display: inline-block;
  
  width: 900px;
  margin: 0 auto;
  background: mediumorchid;
}

nav ul li {
  float: left;
}

nav ul li:last-of-type {
  float: right;
  margin-right: 40px;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  
  padding: .5em 1em;
}

nav ul li a:hover {
  color: gray;
  background: lavender;
}
